<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IdentityServerURL" value="https://localhost:5001" />
  </appSettings>
  <connectionStrings>
    <add name="RmlConnectionString" connectionString="Server=(localdb)\mssqllocaldb;Database=RmlDB;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>